form{
    background-color: black;
    width:100%;
    max-width:500px;
    height:600px;
    color:white;
}
h3{
    display: flex;
    font-family:Raleway,sans-serif;
    padding-left: 2rem;
    padding-top:8px;
    font-size:20px;
}
h5{
    color:rgba(0,0,0,0.8);
    font-family:Raleway,sans-serif;
    font-size:medium;
    font-weight:500;
    margin: auto;
    padding-left:1.5rem;
}
.box1,.box2,.box3{
    width:80%;
    background-color: white;
    height: 60px;
    margin: 15px 40px ;
    padding: 5px;
}
.box4{
    width:80%;
    background-color: white;
    height: 55px;
    margin: 15px 40px ;
    padding: 5px;
}
.picture,img{
    width:30px;
    height:30px;
    color:rgba(0,0,0,0.6);
    display: block;
    margin-left:175px;
    margin-right: auto;
    margin-top:-20px;
}
.checkbox{
    margin-left:30px;
    margin-top:50px;
    font-family: Raleway,sans-serif;
    font-weight:lighter;
    font-size:20px;
    color:rgba(255, 255, 255,0.6);
}
.link{
    color:rgba(255, 255, 255,0.6);
}
.submit{
    width:150px;
    height:50px;
    background-color: black;
    color:white;
    border-width:2px;
    border-color: white;
    margin-left: 100px;
    margin-top:20px;
    font-size:20px;
    font-family: Raleway,sans-serif;
    font-weight:400;
}